/* crit:start */
// Mixin are from _tools.mixin.fontstyles.scss
h1{
	@include h1;
}
h2{
	@include h2;
}
h3{
	@include h3;
}
h4{
	@include h4;
}
h5{
	@include h5;
}
h6{
	@include h6;
}

blockquote{
	@include fsblockquote;
}

p{
	margin-bottom: 30px;

	&:empty{
		display: none;
	}
}

label{
	@include fslabel;
}


small{
	@include fssmall;
}


@responsive{
	.h1 {
		@include h1;
	}

	.h2 {
		@include h2;
	}

	.h3 {
		@include h3;
	}

	.h4 {
		@include h4;
	}

	.h5 {
		@include h5;
	}

	.h6 {
		@include h6;
	}

	.blockquote {
		@include fsblockquote;
	}

	.lead{
		@include fslead;
	}

	.small{
		@include fssmall;
	}

	.label {
		@include fslabel;
	}

	.b-fsbodylarge{
		@include fsbodylarge;
	}

	.b-fsbodyregular{
		@include fsbodyregular;
	}

	.b-fsbtn{
		@include fsbtn;
	}
}


