<template lang="pug">
.o-socialstream
	div(
		data-module="socialstream"
		:data-module-options="JSON.stringify(options)"
	)
</template>

<script>
import { addInitialPluginsAndHydrate } from '@/utils/conditioner'
export default {
	props: {
		/** Options passed to data-module-options */
		options: {
			type: Object,
			default: () => ({}),
		},
	},
	mounted() {
		addInitialPluginsAndHydrate(this.$el)
	},
}
</script>

<docs>
```jsx
const options = {
	order: 'twitter, youtube',
	// facebook: { page:'MurrumbidgeeLHD', label: 'Facebook', accessToken:'[accesstoken]' },
	twitter: { pageName: 'murrumbidgeelhd', label: 'Twitter' },
	youtube: { playlistId: 'UUn-XdQkfLkyZk1d_v8lYd2w', 'label': 'YouTube', apiKey: 'AIzaSyABhfNhSs5j5-B2LdRl01GK3Vbdxx-EZyk', isLazyLoad: true }
}

<SocialStream
	:options="options"
/>
```
</docs>
