<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="ie6" <% if(htmlWebpackPlugin.files.manifest) { %> manifest="<%= htmlWebpackPlugin.files.manifest %>"<% } %>> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="ie7" <% if(htmlWebpackPlugin.files.manifest) { %> manifest="<%= htmlWebpackPlugin.files.manifest %>"<% } %>> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="ie8" <% if(htmlWebpackPlugin.files.manifest) { %> manifest="<%= htmlWebpackPlugin.files.manifest %>"<% } %>> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="ie9" <% if(htmlWebpackPlugin.files.manifest) { %> manifest="<%= htmlWebpackPlugin.files.manifest %>"<% } %>> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="" <% if(htmlWebpackPlugin.files.manifest) { %> manifest="<%= htmlWebpackPlugin.files.manifest %>"<% } %>> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Test</title>
		 <% if (htmlWebpackPlugin.files.favicon) { %>
		<link rel="shortcut icon" href="<%= htmlWebpackPlugin.files.favicon%>">
		<% } %>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="preconnect" content="https://cdn.jsdelivr.net/">
		<meta name="preconnect" content="https://cdn.polyfill.io/">
		<meta name="preconnect" content="https://fonts.googleapis.com/">
		<meta name="dns-prefetch" content="https://cdn.jsdelivr.net/">
		<meta name="dns-prefetch" content="https://cdn.polyfill.io/">
		<meta name="dns-prefetch" content="https://fonts.googleapis.com/">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans|Poppins&display=swap" rel="stylesheet">
		<% for (var css in htmlWebpackPlugin.files.css) { %>
		<link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">
		<% } %>
	</head>
	<body>
		@* BEGIN Generated icon spritemap from Webpack [DONT REMOVE] *@
		<div class="sr-only" aria-hidden="true">
			@* BEGIN Inline version - Pros: Fast; Cons: Not cached *@
			@*<%= compilation.assets[Object.keys(compilation.assets).find(x=>(new RegExp(/^spritemap\..*\.svg$/)).test(x))].source() %>*@
			@* END Inline version *@

			@* BEGIN Cached version - Pros: Cached; Cons: A bit slow *@
			<iframe src="<%= webpack.publicPath %><%= Object.keys(compilation.assets).find(x=>(new RegExp(/^spritemap\..*\.svg$/)).test(x)) %>" onload="this.parentNode.insertBefore((this.contentDocument.body || this.contentDocument).activeElement || (this.contentDocument.body || this.contentDocument).children[0], this.parentNode.firstChild);this.parentNode.removeChild(this)"></iframe>
			@* END Cached version *@
		</div>
		@* END Generated icon spritemap from Webpack [DONT REMOVE] *@

		@* ENTER CONTENT HERE *@
		@RenderBody()

		<script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=default,matchMedia,modernizr:placeholder,Array.prototype.includes,Array.prototype.find,Array.prototype.findIndex,Array.from,Element.prototype.dataset"></script>
		<script src="https://cdn.jsdelivr.net/combine/npm/jquery@3/dist/jquery.min.js,npm/vue@2/dist/vue.js"></script>
		@* BEGIN Generated Javascript chunks/entries from Webpack [DONT REMOVE] *@
		<% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
		<script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
		<% } %>
		@* END Generated Javascript chunks/entries from Webpack [DONT REMOVE] *@
	</body>
</html>
