//- Custom Configuration
block config
	//- Setup site's base URL to match the "baseUrl" key within `package.json`
	//- Otherwise default to relative pathing
	//- - var baseUrl = config.baseUrl || './'
	//- - var assetsDir = config.directories.assets
	//- - var cssDir = assetsDir + '/' + config.directories.styles.replace(/^_/, "")
	//- - var jsDir = assetsDir + '/' + config.directories.scripts.replace(/^_/, "")

block childConfig

block includes
	include ../_mixins/**/*.pug

doctype
<!--[if IE 8]>
<html class="no-js lt-ie10 lt-ie9">
<![endif]-->
<!--[if IE 9]>
<html class="no-js lt-ie10">
<![endif]-->
!= "<!--[if gt IE 9]><!-->"
html.no-js
	!= "<!--<![endif]-->"
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')

		meta(content="#",name="description")
		meta(content="#4285f4", name="theme-color")

		//-# Mobile Viewport Scaling
		meta(content="True",name="HandheldFriendly")
		meta(content="320",name="MobileOptimized")
		meta(content="width=device-width,initial-scale=1",name="viewport")
		meta(content="no",name="user-scalable")
		//-#

		meta(name="preconnect", content="https://cdn.jsdelivr.net/")
		meta(name="preconnect", content="https://cdn.polyfill.io/")
		meta(name="preconnect", content="https://fonts.googleapis.com/")
		meta(name="dns-prefetch", content="https://cdn.jsdelivr.net/")
		meta(name="dns-prefetch", content="https://cdn.polyfill.io/")
		meta(name="dns-prefetch", content="https://fonts.googleapis.com/")

		link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap")
		link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins&display=swap")

		title BoilerplateV

		//- Icons
		link(rel='icon', type="image/x-icon", href='/favicon.ico')
		link(rel='apple-touch-icon', href="/apple-touch-icon.png")

		//- script.
		//- 	!function () { var e = function () { var e = document.getElementById("deferred-styles"); (n = document.createElement("div")).innerHTML = e.textContent.trim(); for (var t = n.childNodes, i = 0; i < t.length; i++)document.head.insertBefore(t[i], e); e.parentElement.removeChild(e) }, n = window.requestAnimationFrame || window.mozRequestAnimationFrame || window.webkitRequestAnimationFrame || window.msRequestAnimationFrame; n ? n(function () { window.setTimeout(e, 0) }) : window.addEventListener("load", e) }();
	body.u-df.u-fxdc
		//- Inline sprite for icons
		span.sr-only !{compilation.assets[Object.keys(compilation.assets).find(x=>(new RegExp(/^spritemap\..*\.svg$/)).test(x))].source()}
		header.c-header
			block header
				include ../partials/header.pug
		main.u-fx1
			block content

		footer.c-footer
			block footer
				include ../partials/footer.pug

		script(src="https://cdn.polyfill.io/v2/polyfill.min.js?features=default,matchMedia,modernizr:placeholder,Array.prototype.includes,Array.prototype.find,Array.prototype.findIndex,Array.from,Element.prototype.dataset")
		script(src="https://cdn.jsdelivr.net/combine/npm/jquery@3/dist/jquery.min.js,npm/vue@2.5.22/dist/vue.js")

		//- how to make it read the arguments
		//- script(defer src='/manifest.js')
		//- script(defer src='/main.js')

		block scripts
		//- Google Analytics: change UA-XXXXX-X to be your site's ID.
		//-
			script
			(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
			function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
			e=o.createElement(i);r=o.getElementsByTagName(i)[0];
			e.src='//www.google-analytics.com/analytics.js';
			r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
			ga('create','UA-XXXXX-X');ga('send','pageview');
