// generate font-size and line-height based on line-height in pixel
@mixin fzlh($fz, $lh) {
    font-size: $fz;
    line-height: ($lh / $fz);
}

@mixin h1 {
    @include fzlh($h1-font-size, 72px);
    font-family: Poppins;
    font-weight: 700;
}

@mixin h2 {
    @include fzlh($h2-font-size, 60px);
    font-family: Poppins;
    font-weight: 700;
}

@mixin h3 {
    @include fzlh($h3-font-size, 52px);
    font-family: Poppins;
    font-weight: 700;
}

@mixin h4 {
    @include fzlh($h4-font-size, 42px);
    font-family: Poppins;
    font-weight: 700;
}

@mixin h5 {
    @include fzlh($h5-font-size, 34px);
    font-family: Poppins;
    font-weight: 700;
}

@mixin h6 {
    @include fzlh($h6-font-size, 28px);
    font-family: Poppins;
    font-weight: 700;
}


@mixin fslead {
	$font-size: 32px;
	@include fzlh($font-size, 44px);
	font-family: Poppins;
}

@mixin fslabel {
	@include fzlh(16px, 24px);
}

@mixin fsblockquote {
	@include fslead;
}

@mixin fsbodylarge {
    $font-size: 17px;
    @include fzlh($font-size, 30px);
}

@mixin fsbodyregular {
    @include fzlh($font-size-base, 30px);
}

@mixin fssmall {
	@include fzlh(14px, 24px);
	font-family: 'Open Sans';
}

@mixin fsbtn {
    @include fzlh(13px, 24px);
    font-weight: 500;
}
